
  
  .card {
    width: 300px;
    margin: 0 10px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  .search-header {
    display: flex;
  }
  .search-text {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(240, 98, 146);
  }
  #search-box {
    margin-top: 20px;
    height: 25px;
   border-bottom: 5px;
  }
  #search-box[placeholder="search"] {
    line-height: 25px;
    font-size: 25px;
   
  }